@font-face {
  font-family: 'Gameplay Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gameplay Regular'), url('Gameplay.woff') format('woff');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
}

.Title{
  font-family: Gameplay Regular;
  text-decoration: underline;
  font-size: 40px;
  color: lightgreen;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}